:root {
  --background-color: black;
  --text-color: white;
  --accent-color: red;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
